RewriteEngine On

RewriteRule "home" "index.php"
RewriteRule "products" "app/product.php"
RewriteRule "signup" "app/signup.php"
RewriteRule "signin" "app/signin.php"
RewriteRule "profile" "app/profile.php"
RewriteRule "logout" "app/logout.php"